modules = ["nodejs-16", "vue-node-20", "web", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gcc", "gnumake"]

[workflows]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "static"
publicDir = "dist/web"
